<html>
<body bgcolor=#a3cfb4>
<center>
    <h1> PREDICTION : </h1>
    {%if data == 0 %}
    <h1>You are free from thyroid disease</h1>
    <img src="https://github.com/bharathksg/public_web_ml/blob/main/heathy.jpg?raw=true">
    {%else%}
    <h2>you have thyroidal disease</h2>
    <div class="B">
        <div class="B">
        <h3>Precautionary Measure</h3>
        <centre>
            <li>Avoid smoking or drinking alcohol</li>
            <li> Stay away from sugar and caffeine</li>
            <li> No self-medication</li>
          </centre>
    </div>
    <img src="https://github.com/bharathksg/public_web_ml/blob/main/Thyroid-disorders.jpg?raw=true">
    </div>
    <p></p>
    {%endif%}</br>
<a href='/'>go back to home page</a>
</center>
</body>